body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
}

.container{
    box-sizing: border-box;
    /* width: 80%; */
    background-color: grey;
    border: 2px solid white;
    display: flex;
    align-items: center;
    flex-direction:column;
    justify-content: center;
}

.image-container{
    position: relative;
    text-align: center;
}

.image-container .dice{
    height: 100px;
    position: absolute;
    top: 120px;
    left: 50%;
}

.image-container .roll{
    height: 100px;
    position: absolute;
    top: 120px;
    left: 50%;
    animation: image 1s 0.5s forwards ease-in-out;
}

@keyframes image{
    0%{
        top:0;
    }
    100%{
        top:120px;
        transform: rotate(360deg);
    }
}